* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #153b50;
  background: linear-gradient(#ddecfa, #d3ebf9, #eff1fd);
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1 {
  font-size: 4.5em;
  margin: 0rem;
}
h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}
span {
  font-size: 2.5rem;
  color: #31adc9;
}
button {
  background-color: #42cae8;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 15px 32px;
  color: #153b50;
}
button:hover {
  background-color: #2eb7d6;
}
form {
  margin-top: 3rem;
}
.shortform {
  display: flex;
  justify-content: space-between;
}

input {
  display: block;
  width: 100%;
  background: fff;
  outline: none;
  border-radius: 0.3rem;
  padding: 1rem;
  border: none;
  margin: 1.5rem 0;
}
#year {
  margin: 0;
}
#Cvv {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.Pay {
  padding: 2rem;
}

@media only screen and (max-width: 1166px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 1050px) {
  .container {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
  }
  html {
    height: auto;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  span {
    font-size: 2rem;
  }
  .responsive {
    width: 80%;
    height: auto;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2 rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  span {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 1.8rem;
  }
}
